<div class="toknow">
  <p class="offwhite">Hey, Write down your day to day work here and save. This is an interactive site where you can record your daily work thats needed to be done. </p>

</div>
<div class="toknow">
  <h3>How To Use:</h3>
  <li>For today's list , write down here.</li>
  <li>For any other list, just type / and name of the list you need to make after the URL . Press Enter and there you go, your new list is ready.
  </li>
</div>
<footer>
  Copyright 2020 Ashish Sharma
</footer>

</body>

</html>
