<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" type="image/png" href="todo-list.png">
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">

</head>

<body>
  <div class="h11">
    <h1 style=font-size:80px>To Do List </h1>
  </div>
